{% extends 'base.html' %} 

{%block title%} Lobby {%endblock%}

{%block content%}
<h1>Chat Box</h1>

    <form id="chatForm">
        <input type="text" name="message"/>
    </form>

    <div id="messages">


    </div>

    <script type="text/javascript">

        let url = 'ws://' + window.location.host + '/ws/socket-server/'

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            if(data.type === 'chat'){
                let messages = document.getElementById('messages')
                let jsString = '<div><p>' + data.message + '</p></div>'
                messages.insertAdjacentHTML('beforeend', jsString)
            }
        }
        
        let form = document.getElementById('chatForm')

        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message':message
            }))

            form.reset()
        })


    </script>
 
{%endblock%}